* {
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: rgb(29, 23, 37);
	padding: 0;
	margin: 0;
}

h1{
	margin: 0;
	color: rgb(0, 0, 0);
}

.cuerpo {
	display: flex;
}

#pfp {
	width: 250px;
	height: 250px;
	margin-right: 20px;
	margin-left: 20px;
}

#titulo1 {
	margin-left: 70px;
}

.encabezado {
	display: flex;
	align-items: center;
	background-color: rgb(83, 30, 28);
	padding: 0px;
	margin: 0px;

}

.izquierda {
	display: block;
	width: 300px;
	float: left;
	box-sizing: border-box;
	background-color: rgb(74, 44, 56);
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 15px;
}

.contacts {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.icons {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

.derecha {
	display: block;
	width: 1000px;
	float: right;
	box-sizing: border-box;
	background-color: rgb(74, 44, 56);
	margin-right: 20px;
	margin-top: 40px;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 15px;
}

footer {
	display: block;
	background-color: rgb(59, 40, 47);
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 40px;
	padding: 15px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}

i:hover{
	color: darkred;
}

h2 {
	color: rgb(150, 117, 184);
}

#sm__icons {
	margin-top: 20px;
	margin-bottom: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
	width: 100%;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}