.nav-item {
    padding: 0 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

/* hacer que todos los elementos ocupen todo el espacio */
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin-top: 20px;
    height: 100vh;
    background: #1d1d1d;
}

#frontend-card {
    color: black;
    background: #f5b2b5;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    margin-top: 25px;

}

#backend-card {
    color: black;
    background: #30465a;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    margin-top: 25px;

}

#database-card {
    color: black;
    background: #4caf50;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    margin-top: 25px;
}

#frontend-card:hover {
    transform: scale(1.1);
}

#backend-card:hover {
    transform: scale(1.1);
}

#database-card:hover {
    transform: scale(1.1);
}

.progress-bar {
    background: #3a3a3a;
}

.card {
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    background-color: #2c2c2c;
    border-style: none;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
    border-radius: 10px;
    transition: 0.5s;
}

.about_skills {
    display: flex;
    flex-wrap: wrap;
}

.about_skills .container {
    flex-grow: 1;
}

/* clase about_skills para celulares quitar el d-flex */

@media (max-width: 768px) {
    .about_skills {
        display: block;
    }

    .p-2-celphone {
        padding: 20px;
    }

    .with-celphone {
        width: 100%;
    }
}